.header__burger{
    position: relative;
    width: 30px;
    height: 19px;
    display: none;
    @media screen and(max-width:$burger){
        display: block;
        position: absolute;
        content: '';
        right: 20px;
        z-index: 2;
    }
    &.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    &.active:after{
        transform: rotate(-45deg);
        bottom: 8px;
    }
    &.active span{
        transform: scale(0);
    }
    &::before,
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        background-color: #000;
    }
    &::before{
        top: 0;
        
    }
    &::after{
        bottom: 0;

    }
    & span{
        content: '';
        background-color: #000;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }
}
