.footer{
    background: #FAFAFA;
    padding: 105px 0 35px 0;
    @media screen and(max-width:$mobile){
        padding: 80px 0 35px 0;
    }
    &__menu{
        padding-bottom: 50px;
    }
    &__link{
        .menu__link{
            font-size: 16px;
            line-height: 140.62%;
            color: #000000;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &__items{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        @media screen and(max-width:$mobile){
            gap: 30px;
        }
    }
    &__link-logo{
        padding: 0 120px;
        @media screen and(max-width:$tablet){
            padding: 0;
        }
        @media screen and(max-width:$burger){
            display: none;
        }
    }
    &__hr{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 56px;
        hr{
            width: 80%;
            border: 1px solid #000000;
            background: #000000;
        }
    }
    &__social-networks{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        padding-bottom: 70px;
        @media screen and(max-width:$mobile){
            gap: 15px;
            padding-bottom: 70px;
        }
    }
    &__footer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 14px;
    }
}